In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ls *csv

 Volume in drive C is Windows
 Volume Serial Number is 3A37-E821

 Directory of C:\Users\M\DATA SCI PROGRAM

05/28/2019  01:48 PM            11,198 another-nonlinear-dataset.csv
05/22/2019  05:34 AM               348 AnscombesQuartet.csv
05/24/2019  04:05 PM           249,528 BULLMARKET.csv
05/30/2019  01:53 PM            12,646 cardata.csv
06/11/2019  01:31 PM            45,654 clouds.csv
06/04/2019  01:45 PM            18,231 elliptical-cloud-of-points.csv
06/04/2019  02:12 PM             2,087 five-small-clouds.csv
06/04/2019  03:08 PM           460,676 housetrain.csv
06/04/2019  02:22 PM         2,774,415 LA-WEATHER.csv
05/31/2019  11:21 AM               330 short_flux_data_file.csv
05/28/2019  02:22 PM               772 small-nonlinear-data-set.csv
06/11/2019  12:47 PM           191,045 spirals.csv
06/07/2019  09:32 AM           451,405 test.csv
06/11/2019  12:47 PM             2,706 test_scores.csv
06/18/2019  10:09 AM            28,629 Titanictest.csv
06/18/2019  10:07 AM            61,194 Titanictrain.csv
06/05/2019  02:28 PM           460,676 train.csv
05/29/2019  01:32 PM           457,698 wine-data.csv
              18 File(s)      5,229,238 bytes
               0 Dir(s)  894,615,109,632 bytes free

In [3]:
df=pd.read_csv('Titanictrain.csv')
#df

In [4]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [5]:
df['Age'] = df['Age'].fillna(29.6)

In [6]:
#df

In [7]:
names=[]
for x in np.array(df['Name']):
    tokens=x.split(', ',maxsplit=2)
    names.append(tokens)
    
namedata=pd.DataFrame(names,columns=["Surname","title"])
#namedata

In [8]:
names=[]
for x in np.array(namedata['title']):
    tokens=x.split('. ',maxsplit=1)
    names.append(tokens)
    
titledata=pd.DataFrame(names,columns=["title","name"])
#titledata

In [9]:
df['Name']=titledata['title']

In [10]:
#df

In [11]:
dfSex=pd.get_dummies(df['Sex'])

In [12]:
df['female']=dfSex['female']

In [13]:
df['male']=dfSex['male']

In [14]:
Male=np.array(df['male'])
Female=np.array(df['female'])

In [15]:
del df['Sex']

In [16]:
#df

In [17]:
dfName=pd.get_dummies(df['Name'])

NEW: INCLUDED EMBARKED DESTINATIONS; GET DUMMIES

In [18]:
dfEm=pd.get_dummies(df['Embarked'])

In [19]:
#dfName

In [20]:
frames=[df,dfName,dfEm]

In [21]:
DF=pd.concat(frames,axis=1)

In [22]:
DF

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,...,Mme,Mr,Mrs,Ms,Rev,Sir,the Countess,C,Q,S
0,1,0,3,Mr,22.0,1,0,A/5 21171,7.2500,NaN,...,0,1,0,0,0,0,0,0,0,1
1,2,1,1,Mrs,38.0,1,0,PC 17599,71.2833,C85,...,0,0,1,0,0,0,0,1,0,0
2,3,1,3,Miss,26.0,0,0,STON/O2. 3101282,7.9250,NaN,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,Mrs,35.0,1,0,113803,53.1000,C123,...,0,0,1,0,0,0,0,0,0,1
4,5,0,3,Mr,35.0,0,0,373450,8.0500,NaN,...,0,1,0,0,0,0,0,0,0,1
5,6,0,3,Mr,29.6,0,0,330877,8.4583,NaN,...,0,1,0,0,0,0,0,0,1,0
6,7,0,1,Mr,54.0,0,0,17463,51.8625,E46,...,0,1,0,0,0,0,0,0,0,1
7,8,0,3,Master,2.0,3,1,349909,21.0750,NaN,...,0,0,0,0,0,0,0,0,0,1
8,9,1,3,Mrs,27.0,0,2,347742,11.1333,NaN,...,0,0,1,0,0,0,0,0,0,1
9,10,1,2,Mrs,14.0,1,0,237736,30.0708,NaN,...,0,0,1,0,0,0,0,1,0,0
10,11,1,3,Miss,4.0,1,1,PP 9549,16.7000,G6,...,0,0,0,0,0,0,0,0,0,1
11,12,1,1,Miss,58.0,0,0,113783,26.5500,C103,...,0,0,0,0,0,0,0,0,0,1
12,13,0,3,Mr,20.0,0,0,A/5. 2151,8.0500,NaN,...,0,1,0,0,0,0,0,0,0,1
13,14,0,3,Mr,39.0,1,5,347082,31.2750,NaN,...,0,1,0,0,0,0,0,0,0,1
14,15,0,3,Miss,14.0,0,0,350406,7.8542,NaN,...,0,0,0,0,0,0,0,0,0,1
15,16,1,2,Mrs,55.0,0,0,248706,16.0000,NaN,...,0,0,1,0,0,0,0,0,0,1
16,17,0,3,Master,2.0,4,1,382652,29.1250,NaN,...,0,0,0,0,0,0,0,0,1,0
17,18,1,2,Mr,29.6,0,0,244373,13.0000,NaN,...,0,1,0,0,0,0,0,0,0,1
18,19,0,3,Mrs,31.0,1,0,345763,18.0000,NaN,...,0,0,1,0,0,0,0,0,0,1
19,20,1,3,Mrs,29.6,0,0,2649,7.2250,NaN,...,0,0,1,0,0,0,0,1,0,0
20,21,0,2,Mr,35.0,0,0,239865,26.0000,NaN,...,0,1,0,0,0,0,0,0,0,1
21,22,1,2,Mr,34.0,0,0,248698,13.0000,D56,...,0,1,0,0,0,0,0,0,0,1
22,23,1,3,Miss,15.0,0,0,330923,8.0292,NaN,...,0,0,0,0,0,0,0,0,1,0
23,24,1,1,Mr,28.0,0,0,113788,35.5000,A6,...,0,1,0,0,0,0,0,0,0,1
24,25,0,3,Miss,8.0,3,1,349909,21.0750,NaN,...,0,0,0,0,0,0,0,0,0,1
25,26,1,3,Mrs,38.0,1,5,347077,31.3875,NaN,...,0,0,1,0,0,0,0,0,0,1
26,27,0,3,Mr,29.6,0,0,2631,7.2250,NaN,...,0,1,0,0,0,0,0,1,0,0
27,28,0,1,Mr,19.0,3,2,19950,263.0000,C23 C25 C27,...,0,1,0,0,0,0,0,0,0,1
28,29,1,3,Miss,29.6,0,0,330959,7.8792,NaN,...,0,0,0,0,0,0,0,0,1,0
29,30,0,3,Mr,29.6,0,0,349216,7.8958,NaN,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,Mr,21.0,1,0,28134,11.5000,NaN,...,0,1,0,0,0,0,0,0,0,1
862,863,1,1,Mrs,48.0,0,0,17466,25.9292,D17,...,0,0,1,0,0,0,0,0,0,1
863,864,0,3,Miss,29.6,8,2,CA. 2343,69.5500,NaN,...,0,0,0,0,0,0,0,0,0,1
864,865,0,2,Mr,24.0,0,0,233866,13.0000,NaN,...,0,1,0,0,0,0,0,0,0,1
865,866,1,2,Mrs,42.0,0,0,236852,13.0000,NaN,...,0,0,1,0,0,0,0,0,0,1
866,867,1,2,Miss,27.0,1,0,SC/PARIS 2149,13.8583,NaN,...,0,0,0,0,0,0,0,1,0,0
867,868,0,1,Mr,31.0,0,0,PC 17590,50.4958,A24,...,0,1,0,0,0,0,0,0,0,1
868,869,0,3,Mr,29.6,0,0,345777,9.5000,NaN,...,0,1,0,0,0,0,0,0,0,1
869,870,1,3,Master,4.0,1,1,347742,11.1333,NaN,...,0,0,0,0,0,0,0,0,0,1
870,871,0,3,Mr,26.0,0,0,349248,7.8958,NaN,...,0,1,0,0,0,0,0,0,0,1
871,872,1,1,Mrs,47.0,1,1,11751,52.5542,D35,...,0,0,1,0,0,0,0,0,0,1
872,873,0,1,Mr,33.0,0,0,695,5.0000,B51 B53 B55,...,0,1,0,0,0,0,0,0,0,1
873,874,0,3,Mr,47.0,0,0,345765,9.0000,NaN,...,0,1,0,0,0,0,0,0,0,1
874,875,1,2,Mrs,28.0,1,0,P/PP 3381,24.0000,NaN,...,0,0,1,0,0,0,0,1,0,0
875,876,1,3,Miss,15.0,0,0,2667,7.2250,NaN,...,0,0,0,0,0,0,0,1,0,0
876,877,0,3,Mr,20.0,0,0,7534,9.8458,NaN,...,0,1,0,0,0,0,0,0,0,1
877,878,0,3,Mr,19.0,0,0,349212,7.8958,NaN,...,0,1,0,0,0,0,0,0,0,1
878,879,0,3,Mr,29.6,0,0,349217,7.8958,NaN,...,0,1,0,0,0,0,0,0,0,1
879,880,1,1,Mrs,56.0,0,1,11767,83.1583,C50,...,0,0,1,0,0,0,0,1,0,0
880,881,1,2,Mrs,25.0,0,1,230433,26.0000,NaN,...,0,0,1,0,0,0,0,0,0,1
881,882,0,3,Mr,33.0,0,0,349257,7.8958,NaN,...,0,1,0,0,0,0,0,0,0,1
882,883,0,3,Miss,22.0,0,0,7552,10.5167,NaN,...,0,0,0,0,0,0,0,0,0,1
883,884,0,2,Mr,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,...,0,1,0,0,0,0,0,0,0,1
884,885,0,3,Mr,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,...,0,1,0,0,0,0,0,0,0,1
885,886,0,3,Mrs,39.0,0,5,382652,29.1250,NaN,...,0,0,1,0,0,0,0,0,1,0
886,887,0,2,Rev,27.0,0,0,211536,13.0000,NaN,...,0,0,0,0,1,0,0,0,0,1
887,888,1,1,Miss,19.0,0,0,112053,30.0000,B42,...,0,0,0,0,0,0,0,0,0,1
888,889,0,3,Miss,29.6,1,2,W./C. 6607,23.4500,NaN,...,0,0,0,0,0,0,0,0,0,1
889,890,1,1,Mr,26.0,0,0,111369,30.0000,C148,...,0,1,0,0,0,0,0,1,0,0
890,891,0,3,Mr,32.0,0,0,370376,7.7500,NaN,...,0,1,0,0,0,0,0,0,1,0

In [23]:
del DF['Name']

In [24]:
#DF

In [25]:
from scipy.stats.stats import pearsonr

In [26]:
Surv=np.array(DF['Survived'])
Mrs=np.array(DF['Mrs'])
Mr=np.array(DF['Mr'])
Age=np.array(DF['Age'])
Dr=np.array(DF['Dr'])
Fare=np.array(DF['Fare'])
Pclass=np.array(DF['Pclass'])
Master=np.array(DF['Master'])
Parch=np.array(DF['Parch'])
Capt=np.array(DF['Capt'])
Miss=np.array(DF['Miss'])
Parch=np.array(DF['Parch'])
SibSp=np.array(DF['SibSp'])
c=np.array(DF['C'])

In [27]:
pearsonr(Surv,c)

(0.1682404312182332, 4.3971513298052554e-07)

In [28]:
count = 0
features = ["Pclass", "Age", "SibSp","Parch", "Fare", "male", "female", "C","Q","S","Mr", "Mrs", "Miss"]
for x in features:
    print("Correlation and p: ", x, pearsonr(DF[x],DF["Survived"]))

Correlation and p:  Pclass (-0.33848103596101536, 2.53704738798042e-25)
Correlation and p:  Age (-0.06952761330099651, 0.037989220487832626)
Correlation and p:  SibSp (-0.03532249888573558, 0.29224392869817906)
Correlation and p:  Parch (0.08162940708348349, 0.0147992453747224)
Correlation and p:  Fare (0.25730652238496243, 6.120189341921873e-15)
Correlation and p:  male (-0.5433513806577553, 1.406066130879517e-69)
Correlation and p:  female (0.5433513806577552, 1.406066130879597e-69)
Correlation and p:  C (0.1682404312182332, 4.3971513298052554e-07)
Correlation and p:  Q (0.003650382683972173, 0.9133532352434973)
Correlation and p:  S (-0.15566027340439348, 3.0361110645208803e-06)
Correlation and p:  Mr (-0.5491991849030087, 2.4287826448462406e-71)
Correlation and p:  Mrs (0.3390402513843207, 2.0941266637294965e-25)
Correlation and p:  Miss (0.32709254908267793, 1.159990744524431e-23)

In [29]:
df['Name'].value_counts()

Mr              517
Miss            182
Mrs             125
Master           40
Dr                7
Rev               6
Mlle              2
Major             2
Col               2
Don               1
Mme               1
Lady              1
Capt              1
the Countess      1
Sir               1
Ms                1
Jonkheer          1
Name: Name, dtype: int64

In [30]:
data=np.array(DF[["male",'female','C','Q','S','Pclass','Survived']])

In [31]:
data

array([[1, 0, 0, ..., 1, 3, 0],
       [0, 1, 1, ..., 0, 1, 1],
       [0, 1, 0, ..., 1, 3, 1],
       ...,
       [0, 1, 0, ..., 1, 3, 0],
       [1, 0, 1, ..., 0, 1, 1],
       [1, 0, 0, ..., 0, 3, 0]], dtype=int64)

In [32]:
x=data[:,:6]
y=data[:,6]

In [33]:
x

array([[1, 0, 0, 0, 1, 3],
       [0, 1, 1, 0, 0, 1],
       [0, 1, 0, 0, 1, 3],
       ...,
       [0, 1, 0, 0, 1, 3],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 0, 1, 0, 3]], dtype=int64)

BELOW IS KNNEIGHBORS MODEL

In [34]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
xtrain,xtest,ytrain,ytest=train_test_split(x,y)
KNN=KNeighborsClassifier(n_neighbors=4)
#KNN.fit(xtrain,ytrain)
KNN.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=4, p=2,
           weights='uniform')

BELOW IS DECISION TREEE MODEL

In [35]:
from sklearn import tree
DT=tree.DecisionTreeClassifier(max_depth=1000)
DT.fit(x, y)
#YP=DT.predict(xtest)
#accuracy_score(ytest,YP)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=1000,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [36]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier, \
   BaggingClassifier, RandomForestClassifier

In [37]:
#ytestp=KNN.predict(xtest)
#accuracy_score(ytest,ytestp)

In [38]:
#ytestp=KNN.predict(xtest)
#print("accuracy=",accuracy_score(ytest,ytestp))

In [39]:
td=pd.read_csv('Titanictest.csv')

In [40]:
tdSex=pd.get_dummies(td['Sex'])

In [41]:
td['female']=tdSex['female']
td['male']=tdSex['male']

In [42]:
td['Age'] = td['Age'].fillna(29.6)

In [43]:
#td

In [44]:
td['Fare'].mean()

35.6271884892086

In [45]:
td['Fare'] = df['Fare'].fillna(35.627)

In [46]:
del td['Sex']

In [47]:
#td

In [48]:
names=[]
for x in np.array(td['Name']):
    tokens=x.split(', ',maxsplit=2)
    names.append(tokens)
    
namedata2=pd.DataFrame(names,columns=["Surname","title"])
#namedata2

In [49]:
names=[]
for x in np.array(namedata2['title']):
    tokens=x.split('. ',maxsplit=1)
    names.append(tokens)
    
titledata2=pd.DataFrame(names,columns=["title","name"])
#titledata2

In [50]:
td['Name']=titledata2['title']

In [51]:
tdName=pd.get_dummies(td['Name'])
tdEm=pd.get_dummies(td['Embarked'])

In [52]:
frames2=[td,tdName,tdEm]

In [53]:
TD=pd.concat(frames2,axis=1)

In [54]:
del TD["Name"]

In [55]:
#TD

In [56]:
XTEST=np.array(TD[['male','female','C','Q','S','Pclass']])

In [57]:
XTEST

array([[1, 0, 0, 1, 0, 3],
       [0, 1, 0, 0, 1, 3],
       [1, 0, 0, 1, 0, 2],
       ...,
       [1, 0, 0, 0, 1, 3],
       [1, 0, 0, 0, 1, 3],
       [1, 0, 1, 0, 0, 3]], dtype=int64)

In [58]:
YP=DT.predict(XTEST)

In [59]:
FYT=pd.DataFrame(YP)

In [60]:
FYT

     0
0    0
1    0
2    0
3    0
4    0
5    0
6    1
7    0
8    1
9    0
10   0
11   0
12   1
13   0
14   1
15   1
16   0
17   0
18   0
19   1
20   0
21   0
22   1
23   0
24   1
25   0
26   1
27   0
28   0
29   0
..  ..
388  0
389  0
390  0
391  1
392  0
393  0
394  0
395  1
396  0
397  1
398  0
399  0
400  1
401  0
402  1
403  0
404  0
405  0
406  0
407  0
408  1
409  0
410  1
411  1
412  0
413  0
414  1
415  0
416  0
417  0

[418 rows x 1 columns]

In [61]:
TD['Survived']=FYT

In [62]:
TD

,PassengerId,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,...,Master,Miss,Mr,Mrs,Ms,Rev,C,Q,S,Survived
0,892,3,34.5,0,0,330911,7.2500,NaN,Q,0,...,0,0,1,0,0,0,0,1,0,0
1,893,3,47.0,1,0,363272,71.2833,NaN,S,1,...,0,0,0,1,0,0,0,0,1,0
2,894,2,62.0,0,0,240276,7.9250,NaN,Q,0,...,0,0,1,0,0,0,0,1,0,0
3,895,3,27.0,0,0,315154,53.1000,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
4,896,3,22.0,1,1,3101298,8.0500,NaN,S,1,...,0,0,0,1,0,0,0,0,1,0
5,897,3,14.0,0,0,7538,8.4583,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
6,898,3,30.0,0,0,330972,51.8625,NaN,Q,1,...,0,1,0,0,0,0,0,1,0,1
7,899,2,26.0,1,1,248738,21.0750,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
8,900,3,18.0,0,0,2657,11.1333,NaN,C,1,...,0,0,0,1,0,0,1,0,0,1
9,901,3,21.0,2,0,A/4 48871,30.0708,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
10,902,3,29.6,0,0,349220,16.7000,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
11,903,1,46.0,0,0,694,26.5500,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
12,904,1,23.0,1,0,21228,8.0500,B45,S,1,...,0,0,0,1,0,0,0,0,1,1
13,905,2,63.0,1,0,24065,31.2750,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
14,906,1,47.0,1,0,W.E.P. 5734,7.8542,E31,S,1,...,0,0,0,1,0,0,0,0,1,1
15,907,2,24.0,1,0,SC/PARIS 2167,16.0000,NaN,C,1,...,0,0,0,1,0,0,1,0,0,1
16,908,2,35.0,0,0,233734,29.1250,NaN,Q,0,...,0,0,1,0,0,0,0,1,0,0
17,909,3,21.0,0,0,2692,13.0000,NaN,C,0,...,0,0,1,0,0,0,1,0,0,0
18,910,3,27.0,1,0,STON/O2. 3101270,18.0000,NaN,S,1,...,0,1,0,0,0,0,0,0,1,0
19,911,3,45.0,0,0,2696,7.2250,NaN,C,1,...,0,0,0,1,0,0,1,0,0,1
20,912,1,55.0,1,0,PC 17603,26.0000,NaN,C,0,...,0,0,1,0,0,0,1,0,0,0
21,913,3,9.0,0,1,C 17368,13.0000,NaN,S,0,...,1,0,0,0,0,0,0,0,1,0
22,914,1,29.6,0,0,PC 17598,8.0292,NaN,S,1,...,0,0,0,1,0,0,0,0,1,1
23,915,1,21.0,0,1,PC 17597,35.5000,NaN,C,0,...,0,0,1,0,0,0,1,0,0,0
24,916,1,48.0,1,3,PC 17608,21.0750,B57 B59 B63 B66,C,1,...,0,0,0,1,0,0,1,0,0,1
25,917,3,50.0,1,0,A/5. 3337,31.3875,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
26,918,1,22.0,0,1,113509,7.2250,B36,C,1,...,0,1,0,0,0,0,1,0,0,1
27,919,3,22.5,0,0,2698,263.0000,NaN,C,0,...,0,0,1,0,0,0,1,0,0,0
28,920,1,41.0,0,0,113054,7.8792,A21,S,0,...,0,0,1,0,0,0,0,0,1,0
29,921,3,29.6,2,0,2662,7.8958,NaN,C,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,21.0,0,0,364858,7.7292,NaN,Q,0,...,0,0,1,0,0,0,0,1,0,0
389,1281,3,6.0,3,1,349909,12.0000,NaN,S,0,...,1,0,0,0,0,0,0,0,1,0
390,1282,1,23.0,0,0,12749,120.0000,B24,S,0,...,0,0,1,0,0,0,0,0,1,0
391,1283,1,51.0,0,1,PC 17592,7.7958,D28,S,1,...,0,0,0,1,0,0,0,0,1,1
392,1284,3,13.0,0,2,C.A. 2673,7.9250,NaN,S,0,...,1,0,0,0,0,0,0,0,1,0
393,1285,2,47.0,0,0,C.A. 30769,113.2750,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
394,1286,3,29.0,3,1,315153,16.7000,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
395,1287,1,18.0,1,0,13695,7.7958,C31,S,1,...,0,0,0,1,0,0,0,0,1,1
396,1288,3,24.0,0,0,371109,7.8542,NaN,Q,0,...,0,0,1,0,0,0,0,1,0,0
397,1289,1,48.0,1,1,13567,26.0000,B41,C,1,...,0,0,0,1,0,0,1,0,0,1
398,1290,3,22.0,0,0,347065,10.5000,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
399,1291,3,31.0,0,0,21332,12.6500,NaN,Q,0,...,0,0,1,0,0,0,0,1,0,0
400,1292,1,30.0,0,0,36928,7.9250,C7,S,1,...,0,1,0,0,0,0,0,0,1,1
401,1293,2,38.0,1,0,28664,8.0500,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
402,1294,1,22.0,0,1,112378,9.8250,NaN,C,1,...,0,1,0,0,0,0,1,0,0,1
403,1295,1,17.0,0,0,113059,15.8500,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
404,1296,1,43.0,1,0,17765,8.6625,D40,C,0,...,0,0,1,0,0,0,1,0,0,0
405,1297,2,20.0,0,0,SC/PARIS 2166,21.0000,D38,C,0,...,0,0,1,0,0,0,1,0,0,0
406,1298,2,23.0,1,0,28666,7.7500,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
407,1299,1,50.0,1,1,113503,18.7500,C80,C,0,...,0,0,1,0,0,0,1,0,0,0
408,1300,3,29.6,0,0,334915,7.7750,NaN,Q,1,...,0,1,0,0,0,0,0,1,0,1
409,1301,3,3.0,1,1,SOTON/O.Q. 3101315,25.4667,NaN,S,1,...,0,1,0,0,0,0,0,0,1,0
410,1302,3,29.6,0,0,365237,7.8958,NaN,Q,1,...,0,1,0,0,0,0,0,1,0,1
411,1303,1,37.0,1,0,19928,6.8583,C78,Q,1,...,0,0,0,1,0,0,0,1,0,1
412,1304,3,28.0,0,0,347086,90.0000,NaN,S,1,...,0,1,0,0,0,0,0,0,1,0
413,1305,3,29.6,0,0,A.5. 3236,0.0000,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
414,1306,1,39.0,0,0,PC 17758,7.9250,C105,C,1,...,0,0,0,0,0,0,1,0,0,1
415,1307,3,38.5,0,0,SOTON/O.Q. 3101262,8.0500,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
416,1308,3,29.6,0,0,359309,32.5000,NaN,S,0,...,0,0,1,0,0,0,0,0,1,0
417,1309,3,29.6,1,1,2668,13.0000,NaN,C,0,...,1,0,0,0,0,0,1,0,0,0

In [63]:
predictionDT=TD[['PassengerId','Survived',]]

In [65]:
#export_csv=predictionDT.to_csv('Downloads//predictionDT.csv')

In [66]:
predictionDT

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         0
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]